html {
    font-family: "Arimo";
}

div.main-content {
    width: 1200px;
    margin: auto;
    border: 22px solid rgba(58, 73, 101, 1);
    box-sizing: border-box;
    /* padding-top: 26px; */
    justify-content: center;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

th {
    width: 160px;
}

th:first-child {
    width: 200px;
}

th.th-bgcolor {
    background-color: rgba(227, 227, 227, 1);
    padding: 25px 0;
}

.main-title {
    display: flex;
    flex-direction: column;
}

.th-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    display: inline-block;
    color: rgba(72, 72, 72, 1);
}

.th-title-2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    display: inline-block;
    color: rgba(72, 72, 72, 1);
}

.th-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

table th {
    border-bottom: 10px solid rgba(58, 73, 101, 1);
}

.header-img {
    margin-bottom: 6px;
}

.first-item-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    position: relative;
    background-color: rgba(137, 195, 49, 1);
}

.first-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.first-item-price {
    height: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.price {
    font-size: 36px;
    font-weight: 700;
    height: 50px;
    margin-left: 18px;
    margin-top: 10px;
    color: white;
}

.cent {
    font-size: 18px;
    height: 20px;
    color: white;
}

.period {
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    margin-right: 30px;
    color: white;
    margin-left: 25px;
}

.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.button {
    text-decoration: none;
    color: white;
    background-color: rgba(65, 65, 65, 1);
    font-weight: 700;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 6px;
}

td.th-bgcolor {
    background-color: rgba(227, 227, 227, 1);
}

th.td-bgcolor {
    background-color: rgba(242, 242, 242, 1);
}

td.td-bgcolor {
    background-color: rgba(242, 242, 242, 1);
}

div.td-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    /* justify-content: center; */
    margin: auto;
    height: 100%;
    text-align: center;
}

td {
    text-align: center;
    vertical-align: middle;
}

.second-item-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    position: relative;
    background-color: rgba(240, 74, 86, 1);
}

.third-item-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    position: relative;
    background-color: rgba(32, 128, 124, 1);
}