html {
    font-family: "Arimo";
}

div.main-content {
    width: 1192px;
    margin: auto;
    border: 22px solid rgba(58, 73, 101, 1);
    box-sizing: border-box;
    justify-content: center;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

th {
    border: 1px solid rgb(232, 232, 232);
}

td {
    padding: 22px 74px;
    border: 1px solid rgb(232, 232, 232);
}

.th-size {
    /* width: 313px; */
    height: 159px;
}

.main-title {
    position: absolute;
    top: 0px;
    left: 20px;
    display: flex;
    flex-direction: column;
}

.th-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    padding-top: 51px;
    display: inline-block;
    color: rgba(72, 72, 72, 1);
}

.th-title-2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    display: inline-block;
    color: rgba(72, 72, 72, 1);
}

.second-item-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.second-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: white;
    padding: 22px 54px;
}

.first-item-box {
    background-color: rgba(137, 195, 49, 1);
    position: absolute;
    width: 100%;
}

.second-item-box {
    background-color: rgba(240, 74, 86, 1);
    position: absolute;
    width: 100%;
}

.third-item-box {
    background-color: rgba(32, 128, 124, 1);
    position: absolute;
    width: 100%;
}

.second-item-price {
    height: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 30px;
    position: absolute;
    bottom: 15px;
}

.price {
    font-size: 60px;
    font-weight: 700;
    height: 50px;
    margin-left: 40px;
    margin-top: 10px;
    color: rgba(72, 72, 72, 1);
}

.cent {
    font-size: 24px;
    height: 28px;
    color: rgba(72, 72, 72, 1);
}

.period {
    font-size: 18px;
    font-weight: 400;
    height: 28px;
    margin-right: 40px;
    color: rgba(72, 72, 72, 1);
}

.row-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-row {
    font-size: 15px;
    font-weight: 400;
}

p.second-row::before {
    content: url(../IMG/storage.svg);
    margin-right: 3px;
}

.third-row-text {
    text-align: center;
}

.third-row-title::before {
    content: url(../IMG/bandwidth.svg);
    margin-right: 3px;
}

.fourth-row-title::before {
    content: url(../IMG/email.svg);
    margin-right: 3px;
}

.fourth-row-text {
    text-align: center;
}

.fifth-row-title::before {
    content: url(../IMG/support.svg);
    margin-right: 3px;
}

.fifth-row-text {
    text-align: center;
}

.sixth-row-title::before {
    content: url(../IMG/products.svg);
    margin-right: 3px;
}

.sixth-row-text {
    text-align: center;
}

.seventh-row-title::before {
    content: url(../IMG/users.svg);
    margin-right: 3px;
}

.seventh-row-text {
    text-align: center;
}

div.footer-link-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 20px 0;
}

.eighth-row-first-button {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: white;
    background-color: rgba(72, 72, 72, 1);
    padding: 15px 35px;
    position: absolute;
    left: 50px;
    border-radius: 6px;
    box-sizing: border-box;
}

.eighth-row-second-button {
    text-align: start;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: white;
    background-color:rgba(137, 195, 49, 1);
    padding: 15px 45px;
    position: absolute;
    border-radius: 6px;
    box-sizing: border-box;
}


.eighth-row-third-button {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: white;
    background-color:rgba(223, 58, 70, 1);
    padding: 15px 45px;
    position: absolute;
    border-radius: 6px;
    box-sizing: border-box;
}

.eighth-row-fourth-button {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: white;
    background-color:rgba(32, 128, 124, 1);
    padding: 15px 45px;
    position: absolute;
    border-radius: 6px;
    box-sizing: border-box;
}

.row-backg-color {
    background-color: rgba(242, 242, 242, 1);
}

.row-backg-color-other {
    background-color: rgba(227, 227, 227, 1);
}

.footer-td {
    background-color: rgba(221, 221, 221, 1);
}

.footer-td-2 {
    background-color: rgba(238, 238, 238, 1);
}

.footer-td-3 {
    background-color: rgba(244, 244, 244, 1);
}

.footer-td-4 {
    background-color: rgba(238, 238, 238, 1);
}












